{% extends "baseadmin.html.twig" %}
{% block body %}           
    <div class="d-flex p-3 justify-content-between align-items-center">
        <p>Liste des catégories :</p>
        <form class="form-inline mt-1" method="POST" action="{{ path('admin.categories.add') }}">
            <div class="form-group mr-1 mb-2">
                <input type="text" class="sm" name="name" required>
                <button type="submit" class="btn btn-primary mb-2 btn-sm">Ajouter une catégorie</button>
            </div>
        </form>
    </div>
            
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
        
    <table class="table table-striped">
        <caption>Liste des catégories disponibles :</caption>
        <thead>
            <tr>
                <th class="text-left align-top" scope="col">
                    Catégories                   
                </th>
                <th class="text-center align-top" scope="col">
                    Actions
                    &nbsp;
                </th>			
            </tr>
        </thead>
        <tbody>
            <!-- boucle sur les categories -->
            {% if categories|length > 0 %}
                {% for categorie in categories %}
                    <tr class="align-middle">
                        <td>
                            <h5 class="text-info">
                                {{ categorie.name }}
                            </h5>
                        </td>
                        <td class="text-center">
                           <a href="{{ path('admin.categories.delete', {id:categorie.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer {{ categorie.name }} ?')">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}	
            {% endif %}
        </tbody>
    </table>
{% endblock %}